pipeline/PL_Master_IncrementalLoad.json
{
	"name": "PL_Master_IncrementalLoad",
	"properties": {
		"description": "This Pipeline is meant to load data incrementally for multiple tables",
		"activities": [
			{
				"name": "LKP_ConfigurationTable",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DS_SQL_TargetDB_Configuration",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "For_IterateCollection",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LKP_ConfigurationTable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LKP_ConfigurationTable').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Execute PL_IncrementalLoad_Dynamic",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_IncrementalLoad_Dynamic",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"TableName": {
										"value": "@{item().TableName}",
										"type": "Expression"
									},
									"WaterMarkColumn": {
										"value": "@{item().WaterMarkColumn}",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "Copy Multiple Tables"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}